@import './_reset.scss';
@import './_mixin.scss';

.main_wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .backg {
        width: 300vw;
        height: 100vh;
        position: relative;
        // transform: translateX(100vw);
        transition: all 1s;

        .slide_box {
            float: left;
            width: 100vw;
        }

        .slide_box img {
            width: 100%;
        }
    }

    .arrow_button_wrap {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        .arrow_button {
            font-size: 5rem;
            color: #fff;
        }

        .back_button {
            position: absolute;
            left: 0;
        }

        .front_button {
            position: absolute;
            right: 0;
        }
    }

    .text_wrap {
        background: rgba(255, 255, 255, .3);
        width: 600px;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-40%);
        z-index: 999;

        @include vertical_flex;
        justify-content: space-evenly;

        h3 {
            font-weight: bold;
            font-size: 40px;
            color: #fff;
            text-shadow: $text_shadow_big;

        }
        
        p {
            font-size: 2.5rem;
            color: #fff;
            text-shadow: $text_shadow_big;

            &:last-child {
                font-size: 25px;
                width: 476px;
                text-align: left;
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    .main_wrap {
        
        .text_wrap {
            background: rgba(255, 255, 255, .3);
            width: 300px;
            height: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            @include vertical_flex;
    
            h3 {
                font-weight: bold;
                font-size: 1.5rem;
                color: #fff;
                text-shadow: $text_shadow_big;
    
            }
            
            p {
                font-size: 1.5rem;
                color: #fff;
                text-shadow: $text_shadow_big;
    
                &:last-child {
                    font-size: .8rem;
                    width: 200px;
                    text-align: left;
                }
            }
        }
    }
    
}